.billing-images {
    display: flex;
}

.wp-admin .woo-checkout-images .preview img:hover {
    cursor: pointer;
}

.wp-admin .woo-checkout-images .preview > * {
    flex-basis: 19%;
    max-width: 19%;
}

.wp-list-table .column-author,
.wp-list-table .column-shop_order {
    width: 12%;
}

.wp-list-table .column-date {
    width: 10%;
}